<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">
    <meta charset="UTF-8">
    <title>Colorizer</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-theme.css' %}">

</head>
<body >

  <nav class="navbar navbar-default">
    <div class="container-fluid container">
      <div class="navbar-header">
        <a class="navbar-brand img" style="padding:0px;" href=""><img src="{% static 'kmitlogo.jpg' %}" width="60px" height="50px"></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="">Colorizer!</a></li>
      </ul>
    </div>
  </nav>

<script src="{% static 'bootstrap/jquery.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>


<div class="container">
    {% block maincontent %}
    {% endblock %}
</div>

</body>
</html>
