{% extends 'app/base.html' %}

{% block maincontent %}

  <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}

    {{ form }}

    <input type="submit" value="Submit" class="btn btn-default" />

  </form>

  {{ error }}

  {% if success %}

  {% load static %}
  <a href="{% static "color.jpg" %}" target="_blank">View full size</a><br/>
  <img src="{% static "gray.jpg" %}" alt="No Image" class="NO-CACHE" width="300px" height="300px">
  <img src="{% static "color.jpg" %}" alt="No Image" class="NO-CACHE" width="300px" height="300px">

  <script>
  var nods = document.getElementsByClassName('NO-CACHE');
  for (var i = 0; i < nods.length; i++)
  {
      nods[i].attributes['src'].value += "?a=" + Math.random();
  }
  </script>

  {% endif %}


{% endblock %}
